<div class="top-menu">
  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div>

  <div class="courses">

    <!--Irá iterando los cursos (mostrando todas las opciones db), simplificando codigo-->
    <!--La segunda linea es la info que le pasamos a course-card.ts para renderizarlo en html de course-card-->
    <app-course-card *ngFor="let course of courses; index as i"
    [course]="course" [courseIndex]="i">
    </app-course-card>

  </div>

</div>